{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
			<!-- Main Content -->
			<div id="content" class="site-content">
				<!-- Breadcrumb -->
				<div id="breadcrumb">
					<div class="container">
						<h2 class="title">Contact</h2>
						
						<ul class="breadcrumb">
							<li><a href="{% url 'main:home' %}" title="Home">Home</a></li>
							<li><span>Contact</span></li>
						</ul>
					</div>
				</div>
			
				<div class="container">
					<div class="contact-page">
						<div class="contact-info">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="item d-flex">
										<div class="item-left">
											<div class="icon"><i class="zmdi zmdi-email"></i></div>
										</div>
										<div class="item-right d-flex">
											<div class="title">Email:</div>
											<div class="content">
												<a href="mailto:pubgclashov@gmail.com">pubgclashov@gmail.com</a><br>
												<a href="mailto:pubgclashov@gmail.com">pubgclashov@gmail.com</a>
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="item d-flex justify-content-center">
										<div class="item-left">
											<div class="icon"><i class="zmdi zmdi-home"></i></div>
										</div>
										<div class="item-right d-flex">
											<div class="title">Address:</div>
											<div class="content">
												Milliy Universitet ko'chasi 4-uy<br> Uzbekistan Tashkent
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="item d-flex justify-content-end">
										<div class="item-left">
											<div class="icon"><i class="zmdi zmdi-phone"></i></div>
										</div>
										<div class="item-right d-flex">
											<div class="title">Holine:</div>
											<div class="content">
												<a href="tel:+998900004757">+998900004757</a><br>
											<a href="tel:+998917805158">+998917805158</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="contact-map">
							<div id="map" class="bg-success"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.0087941015095!2d69.20145731568556!3d41.35216257926745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8d4a0dce8309%3A0x43e0a115d4b09d1a!2sBobir%20Akilkhanov%20Tech%20Academy!5e0!3m2!1suz!2s!4v1676032451405!5m2!1suz!2s" width="1140" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
							<div>815 Sunset Boulevard Ca 70079</div>
						</div>
						
						<div class="contact-intro">
							<p>"Assalomu alaykum va rohmatullohi va barokatuhu xush kelibsiz 'polvon'"</p>
							<img src="{% static 'main/img/contact-icon.png'%}" alt="Contact Comment">
						</div>
						
						<div class="contact-form form">
							<form action="{% url 'main:contact_create' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
								<div class="form-group row">
									<div class="col-md-6">
{#										<input type="text" name="name" placeholder="YOUR NAME">#}
                                        {{ contact_form.name }}
									</div>
									
									<div class="col-md-6">
{#										<input type="email" name="email" placeholder="YOUR EMAIL">#}
                                        {{ contact_form.email }}
									</div>
								</div>
								
								<div class="form-group">
{#									<input type="text" name="subject" placeholder="SUBJECT">#}
                                    {{ contact_form.theme }}
								</div>
								
								<div class="form-group">
{#									<textarea rows="10" name="content" placeholder="MESSAGE"></textarea>#}
                                    {{ contact_form.message }}
								</div>
								
								<div class="form-group text-center">
									<input type="submit" class="btn btn-primary" value="Send Message">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			
{% endblock %}