{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <!-- Main Menu -->
    <div id="main-menu">
        <ul class="menu">
            <li class="dropdown">
                <a href="index.html" title="Homepage">Home</a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a href="index.html" title="Homepage 1">Homepage 1</a></li>
                        <li><a href="home-2.html" title="Homepage 2">Homepage 2</a></li>
                        <li><a href="home-3.html" title="Homepage 3">Homepage 3</a></li>
                        <li><a href="home-4.html" title="Homepage 4">Homepage 4</a></li>
                        <li><a href="home-5.html" title="Homepage 5">Homepage 5</a></li>
                    </ul>
                </div>
            </li>

            <li class="dropdown">
                <a href="product-grid-left-sidebar.html" title="Product">Product</a>
                <div class="dropdown-menu">
                    <ul>
                        <li class="has-image">
                            <img src="{% static 'main/img/product/product-category-1.png' %}"
                                 alt="Product Category Image">
                            <a href="product-grid-left-sidebar.html" title="Vegetables">Vegetables</a>
                        </li>
                        <li class="has-image">
                            <img src="{% static 'main/img/product/product-category-2.png' %}"
                                 alt="Product Category Image">
                            <a href="product-grid-left-sidebar.html" title="Fruits">Fruits</a>
                        </li>
                        <li class="has-image">
                            <img src="{% static 'main/img/product/product-category-3.png' %}"
                                 alt="Product Category Image">
                            <a href="product-grid-left-sidebar.html" title="Bread">Bread</a>
                        </li>
                        <li class="has-image">
                            <img src="{% static 'main/img/product/product-category-4.png' %}"
                                 alt="Product Category Image">
                            <a href="product-grid-left-sidebar.html" title="Juices">Juices</a>
                        </li>
                        <li class="has-image">
                            <img src="{% static 'main/img/product/product-category-5.png' %}"
                                 alt="Product Category Image">
                            <a href="product-grid-left-sidebar.html" title="Tea and coffee">Tea and coffee</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="dropdown">
                <a href="#" title="Page">Page</a>
                <div class="dropdown-menu">
                    <ul>
                        <li class="dropdown-submenu">
                            <a href="product-grid-left-sidebar.html" title="Product List">Product List</a>
                            <div class="dropdown-menu level2">
                                <ul>
                                    <li><a href="product-grid-left-sidebar.html" title="Product Grid - Left Sidebar">Product
                                        Grid - Left Sidebar</a></li>
                                    <li><a href="product-grid-right-sidebar.html" title="Product Grid - Right Sidebar">Product
                                        Grid - Right Sidebar</a></li>
                                    <li><a href="product-grid-full-width.html" title="Product Grid - Full Width">Product
                                        Grid - Full Width</a></li>
                                    <li><a href="product-list-left-sidebar.html" title="Product List - Left Sidebar">Product
                                        List - Left Sidebar</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="product-detail-left-sidebar.html" title="Product List">Product Detail</a>
                            <div class="dropdown-menu level2">
                                <ul>
                                    <li><a href="product-detail-left-sidebar.html"
                                           title="Product Detail - Left Sidebar">Product Detail - Left Sidebar</a></li>
                                    <li><a href="product-detail-full-width-1.html" title="Product List - Full Width 1">Product
                                        Detail - Full Width 1</a></li>
                                    <li><a href="product-detail-full-width-2.html" title="Product List - Full Width 2">Product
                                        Detail - Full Width 2</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="product-cart.html" title="Cart">Cart</a>
                        </li>
                        <li>
                            <a href="product-checkout.html" title="Checkout">Checkout</a>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#" title="User">User</a>
                            <div class="dropdown-menu level2">
                                <ul>
                                    <li><a href="user-login.html" title="Login">Login</a></li>
                                    <li><a href="user-register.html" title="Register">Register</a></li>
                                    <li><a href="#" title="My Account">My Account</a></li>
                                    <li><a href="#" title="My Wishlists">My Wishlists</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="page-404.html" title="Page 404">Page 404</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="dropdown">
                <a href="blog-list-left-sidebar-1.html">Blog</a>
                <div class="dropdown-menu">
                    <ul class="has-sub">
                        <li><a href="blog-list-left-sidebar-1.html" title="Blog List - Left Sidebar 1">Blog List - Left
                            Sidebar 1</a></li>
                        <li><a href="blog-list-left-sidebar-2.html" title="Blog List - Left Sidebar 2">Blog List - Left
                            Sidebar 2</a></li>
                        <li><a href="blog.html" title="Blog Grid - Full Width">Blog Grid - Full Width</a></li>
                        <li><a href="blog_detail.html" title="Blog Detail">Blog Detail</a></li>
                    </ul>
                </div>
            </li>

            <li>
                <a href="page-about-us.html">About Us</a>
            </li>

            <li>
                <a href="page-contact.html">Contact</a>
            </li>
        </ul>
    </div>
    </header>


    <!-- Main Content -->
    <div id="content" class="site-content">
        <!-- Breadcrumb -->
        <div id="breadcrumb">
            <div class="container">
                <h2 class="title">Fruit</h2>

                <ul class="breadcrumb">
                    <li><a href="#" title="Home">Home</a></li>
                    <li><a href="#" title="Fruit">Fruit</a></li>
                    <li><span>Tomato</span></li>
                </ul>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <!-- Sidebar -->
                <div id="left-column" class="sidebar col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <!-- Block - Product Categories -->
                    <div class="block product-categories">
                        <h3 class="block-title">Categories</h3>

                        <div class="block-content">
                            {% for category in categories %}
                                <div class="item">
                                    <a class="category-title" {% if category.id|stringformat:'i' == request.GET.cat %}
                                       style="color: #111111" {% endif %}
                                       onclick="addSearchParams('cat', {{ category.id }})"
                                       href="#">{{ category.name }}({{ category.products.count }})</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>


                    <!-- Block - Filter -->
                    <div class="block product-filter">
                        <div class="block-content">
                            <div class="filter-item">
                                <h3 class="filter-title">By Price</h3>

                                <div class="block-content">
                                    <div id="slider-range" class="tiva-filter">
                                        <div class="filter-item price-filter">
                                            <div class="layout-slider">
                                                <input id="price-filter" name="price" value="0;100"/>
                                            </div>
                                            <div class="layout-slider-settings"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="filter-item">
                                <h3 class="filter-title">By Color</h3>

                                <div class="block-content">
                                    <div class="filter-color">
                                        <div class="left">
                                            {% for color in colors %}
                                                <a href="#" onclick="addSearchParams('color', {{ colors.id }})">
                                                <div class="item">
                                                    <label style="background-color: {{ color.code }}"></label>
                                                    <span class="color-label">{{ color.id }}</span>

                                                </div>
                                                </a>
                                            {% endfor %}
                                        </div>
                                        <div class="right">
                                            <div class="item">
                                                <label class="color color-2"></label>
                                                <span class="color-label">Green</span>
                                                <span>(1)</span>
                                            </div>
                                            <div class="item">
                                                <label class="color color-4"></label>
                                                <span class="color-label">Brown</span>
                                                <span>(3)</span>
                                            </div>
                                            <div class="item">
                                                <label class="color color-6"></label>
                                                <span class="color-label">Red</span>
                                                <span>(10)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Product Tags -->
                    <div class="block tags product-tags">
                        <h3 class="block-title">Product Tags</h3>

                        <div class="block-content">
                            <ul>
                                {% for tag in tags %}
                                    <li><a href="#" {% if tag.id|stringformat:'i' == request.GET.cat %}
                                           style="color: #111111" {% endif %}
                                           onclick="addSearchParams('tag', {{ tag.id }})"
                                           title="Show products matching tag Hot Trend">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Page Content -->
                <div id="center-column" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <div class="product-category-page">
                        <!-- Nav Bar -->
                        <div class="products-bar">
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="gridlist-toggle" role="tablist">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#products-grid" data-toggle="tab"
                                                                  aria-expanded="true"><i
                                                    class="fa fa-th-large"></i></a></li>
                                            <li><a href="#products-list" data-toggle="tab" aria-expanded="false"><i
                                                    class="fa fa-bars"></i></a></li>
                                        </ul>
                                    </div>

                                    <div class="total-products">There are {{ page_obj.paginator.count }} products</div>
                                </div>

                                <div class="col-md-6 col-xs-6">
                                    <div class="filter-bar">
                                        <form action="#" class="pull-right">
                                            <div class="select">
                                                <select class="form-control">
                                                    <option value="">Sort By</option>
                                                    <option value="1">Price: Lowest first</option>
                                                    <option value="2">Price: Highest first</option>
                                                    <option value="3">Product Name: A to Z</option>
                                                    <option value="4">Product Name: Z to A</option>
                                                    <option value="5">In stock</option>
                                                </select>
                                            </div>
                                        </form>
                                        <form action="#" class="pull-right">
                                            <div class="select">
                                                <select class="form-control">
                                                    <option value="">Relevance</option>
                                                    <option value="1">Price: Lowest first</option>
                                                    <option value="2">Price: Highest first</option>
                                                    <option value="3">Product Name: A to Z</option>
                                                    <option value="4">Product Name: Z to A</option>
                                                    <option value="5">In stock</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-content">
                            <!-- Products Grid -->
                            <div class="tab-pane active" id="products-grid">
                                <div class="products-block">
                                    <div class="row">
                                        {% for object in object_list %}
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <div class="product-item">
                                                    <div class="product-image">
                                                        <a href="product-detail-left-sidebar.html">
                                                            <img class="img-responsive"
                                                                 src="{{ object.main_image.url }}"
                                                                 alt="Product Image">
                                                        </a>
                                                    </div>

                                                    <div class="product-title">
                                                        <a href="product-detail-left-sidebar.html">
                                                            {{ object.title }}
                                                        </a>
                                                    </div>

                                                    <div class="product-rating">
                                                        <div class="star on"></div>
                                                        <div class="star on"></div>
                                                        <div class="star on "></div>
                                                        <div class="star on"></div>
                                                        <div class="star"></div>
                                                    </div>

                                                    <div class="product-price">
                                                        <span class="sale-price">{{ object.real_price }}</span>
                                                        <span class="base-price"><del>{{ object.price }}</del></span>
                                                    </div>


                                                    <div class="product-buttons">
                                                        <a class="add-to-cart" href="#">
                                                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                                        </a>

                                                        <a class="add-wishlist" href="#">
                                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                                        </a>

                                                        <a class="quickview" href="#">
                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <!-- Products List -->
                            <div class="tab-pane" id="products-list">
                                <div class="products-block layout-5">
                                    {% for object in object_list %}
                                        <div class="product-item">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="product-image">
                                                        <a href="{% url 'products:all' %}">
                                                            <img class="img-responsive"
                                                                 src="{{ object.main_image.url }}"
                                                                 alt="Product Image">
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                                    <div class="product-info">
                                                        <div class="product-title">
                                                            <a href="product-detail-left-sidebar.html">
                                                                {{ object.title }}
                                                            </a>
                                                        </div>

                                                        <div class="product-rating">
                                                            <div class="star on"></div>
                                                            <div class="star on"></div>
                                                            <div class="star on "></div>
                                                            <div class="star on"></div>
                                                            <div class="star"></div>
                                                            <span class="review-count">(3 Reviews)</span>
                                                        </div>


                                                        <div class="product-price">
                                                            <span class="sale-price">{{ object.real_price }}</span>
                                                            <span class="base-price"><del>{{ object.price }}</del></span>
                                                        </div>

                                                        <div class="product-stock">
                                                            <i class="fa fa-check-square-o" aria-hidden="true"></i>In
                                                            stock
                                                        </div>

                                                        <div class="product-description">
                                                            {{ object.short_description|truncatewords:'20' }}
                                                        </div>

                                                        <div class="product-buttons">
                                                            <a class="add-to-cart" href="#">
                                                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                                                <span>Add To Cart</span>
                                                            </a>

                                                            <a class="add-wishlist" href="#">
                                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                                            </a>

                                                            <a class="quickview" href="#">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <!-- Pagination Bar -->
                        <div class="pagination-bar">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="text">Showing {{ page_obj.start_index }} - {{ page_obj.end_index }}
                                        of {{ page_obj.paginator.count }} item(s)
                                    </div>
                                </div>

                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="pagination">
                                        <ul class="page-list">
                                            <li><a href="#" class="prev">Previous</a></li>
                                            <li><a href="#" class="current">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#" class="next">Next</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script>
        function addSearchParams(name, value) {
            let searchParams = new URLSearchParams(window.location.search)

            if (searchParams.has(name) && searchParams.get(name) == value) {
                searchParams.delete(name)
            } else {
                searchParams.set(name, value)
            }
            window.location.search = searchParams.toString()
        }
    </script>
{% endblock %}